<h1>Edit User</h1>

<BsForm @model={{this.model}} {{on "submit" (fn this.saveUser this.model)}} as |form|>
  <form.element @controlType="email" @label="Email" placeholder="Email" @property="username" />
  <form.element @controlType="text" @label="First Name" placeholder="first" @property="firstName" />
  <form.element @controlType="text" @label="Last Name" placeholder="last" @property="lastName" />
  <BsButton @type="primary" @defaultText="Submit" type="submit" />
  <BsButton @type="secondary" @defaultText="Cancel" {{on "click" this.cancel}} />
</BsForm>

{{outlet}}