<h1>New User</h1>

<BsForm @model={{this.model}} @formLayout="horizontal" {{on "submit" (fn this.saveUser this.model)}} as |form|>
  <form.element @controlType="email" @label="Email" placeholder="Email" @property="username" @required="true" />
  <form.element @controlType="text" @label="First Name" placeholder="first" @property="firstName" @required="true" />
  <form.element @controlType="text" @label="Last Name" placeholder="last" @property="lastName" @required="true" />
  <BsButton @type="primary" @defaultText="Submit" type="submit" />
  <BsButton @type="secondary" @defaultText="Cancel" {{on "click" this.cancel}} />
</BsForm>

{{outlet}}